*{
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #548687;
}

main h1 {
    padding-top:1rem;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.8vmin;
}

.box {
    color: #b0413e;
    font-size: 8vmin;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    background-color: #ffffc7;
}

#reset-btn {
    font-size: 1rem;
    padding: 1rem;
    color: #ffffc7;
    background-color: #191913;
    border-radius: 0.9rem;
    margin-left: 0.5rem;
}

#new-btn {
    font-size: 1rem;
    padding: 1rem;
    color: #ffffc7;
    background-color: #191913;
    border-radius: 0.9rem;
}

.msg {
    color:#ffffc7 ;
    font-size: 3rem;
    margin-top: 5vmin;
}

.hide {
    display: none;
}